.projectHeader {
    text-align: center;
}

.teamTasksContainer {
    display: flex;
    flex-wrap: wrap;
}

.taskList { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
